@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&amp;display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


html {
  scroll-behavior: smooth;
  scroll-padding-top: 150px;
}

body {
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Open Sans', sans-serif; */
  background-color: #050D1A;
  z-index: -1;
  background-image: url(bg.png);
  background-size: cover;
  /* background-attachment: fixed; */
  overflow-x: hidden!important;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

p {
  font-size: 18px !important;
  text-align: justify !important;
}

 /* Loader styles */
 .loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: #050d1a;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 0;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
}

.logo-img {
  width: 70px;
  border-radius: 50%;
  margin-top: 10px;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 10px;
}

.nav-item {
  margin: 0 10px;
}

.nav-link {
  text-decoration: none;
  padding: 8px 15px;
  color: #fff;
  border-radius: 5px;
  transition: background 0.3s;
}

.nav-link:hover {
}

.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
}


header .nav-link {
  font-size: 18px;
  color: #fff;
  font-weight: 500;
}

header .nav-link.active {
  color: #F2C94C;
}

header .nav-link:hover {
  background: linear-gradient(90deg, #BE844D 1.35%, #FFD700 72.52%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header .nav-link:active {
  background: linear-gradient(90deg, #BE844D 1.35%, #FFD700 72.52%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header .btn-contact {
  background: #fff;
  font-size: .85rem;
  color: #292142;
  font-weight: 400;
}

header .btn-contact:hover {
  background: linear-gradient(90deg, #BE844D 1.35%, #FFD700 72.52%);
  color: #fff;
}

.btn-launch {
  position: relative;
  font-size: 18px;
  color: white;
  font-weight: 700;
  font-size: 18px;
  /* background: #f8d33c; */
  border-radius: 25px;
}

.btn-launch:hover {
  color: #FFD700 !important;
}

.btn-launch::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #f8d33c;
  /* border-radius: 50px; */
  /* padding: 1.5px; */
  /* background: linear-gradient(45deg, #BE844D, #FFD700);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0); */
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.headertext {
  padding-top: 8rem;
  position: relative;
}

.headertext .cow {
  top: -610px;
  margin-bottom: -310px;
  z-index: 0;
}

.headertext .cow img {
  width: 420px;
  border-radius: 10px;

}

.headertext h1 {
  font-weight: 400;
  color: #fff;
  font-size: 2.2rem;
}

.headertext h2 {
  font-weight: 400;
  background: linear-gradient(90deg, #BE844D 1.35%, #FFD700 72.52%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.9rem;
}

.headertext h3 {
  font-weight: 700;
  color: #fff;
  font-size: 1.8rem;
}

.headertext h4 {
  font-weight: 400;
  color: #fff;
  font-size: 1.3rem;
}

.headertext .btn-launch,
.choose .btn-launch,
.staking .btn-launch,
.roadmap .btn-launch {
  font-size: 1rem;
  padding: .8rem 1.4rem .8rem 1.4rem;
}

.blurbg {
  background: url('../images/bgblur.html') top left no-repeat;
  background-size: cover;
  z-index: 0;
}

.partner-link {
  width: fit-content;
}

.promo {
  margin-top: 3rem;
  z-index: 1;
}

.promo hr,
.choose hr {
  border-radius: 50rem;
  height: 4px;
  background: linear-gradient(90deg, #BE844D 0%, #efcc43 100%);
  margin-bottom: .5rem;
}

.promo h2 {
  font-weight: 400;
  font-size: 2.2rem;
  color: #fff;
}

.promo img {
  width: 100px;
}

.promo img.platform {
  width: 60x;
}

.promo h5 {
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
}

.promo p {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
}

.promo h3 {
  color: #fff;
  font-weight: 400;
  font-size: 1.2rem;
}

.choose {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.about {
  margin-top: 4rem;
}

.about-text {
  text-align: justify;
}

.choose h3 {
  /* background: linear-gradient(90deg, #BE844D 1.35%, #FFD700 72.52%); */
  background-color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
  font-weight: 400;
}

.choose h2 {
  color: #fff;
  font-weight: 400;
  font-size: 2.2rem;
}

.choose h4 {
  color: #fff;
  font-weight: 400;
  font-size: 1.2rem;
}

.choose .coin1 {
  top: -490px;
  margin-bottom: -450px;
  z-index: 0;
}

.choose .coin1 img {
  width: 600px;
}

.choose .coin2 {
  top: -450px;
  margin-bottom: -450px;
  z-index: 0;
}

.choose .coin2 img {
  width: 600px;
}

.choose .game {
  top: -225px;
  /* margin-bottom: -300px; */
  z-index: 0;
}

.choose .game img {
  width: 600px;
}

.choose .gift {
  top: -250px;
  margin-bottom: -250px;
  z-index: 0;
}

.choose .gift img {
  width: 600px;
}

.choose .gift p {
  position: absolute;
  top: 45%;
  right: 15%;
  z-index: 1;
  color: #E1D6AF;
  text-shadow: 0px 0px 0 rgb(243, 181, 0),
    0px 1px 0 rgb(231, 169, 0),
    0px 2px 0 rgb(220, 158, 0),
    0px 3px 0 rgb(208, 146, 0),
    0px 4px 0 rgb(196, 134, 0),
    0px 5px 0 rgb(184, 122, 0),
    0px 6px 5px rgba(0, 0, 0, 0.43),
    0px 6px 1px rgba(0, 0, 0, 0.5),
    0px 0px 5px rgba(0, 0, 0, .2);
  font-weight: 700;
  font-size: 2.2rem;
}

.choose h5 {
  color: #fff;
  font-weight: 400;
  font-size: 1.2rem;
}

.choose h6 {
  color: #fff;
  font-weight: 400;
  font-size: 1.2rem;
}

.choose ul li {
  font-size: 1.2rem;
  color: #fff;
  font-weight: 500;
}

.staking {
  margin-top: 3rem;
  margin-bottom: 3rem;
  position: relative;
}

.staking h3 {
  background: linear-gradient(90deg, #BE844D 1.35%, #FFD700 72.52%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
  font-weight: 400;
}

.staking h2 {
  color: #fff;
  font-weight: 400;
  font-size: 2.2rem;
}

.staking h4 {
  color: #fff;
  font-weight: 400;
  font-size: 1.2rem;
}

.staking img {
  width: 300px;
  display: block;
  margin: 0 auto;
}

.staking .card-title {
  margin-bottom: 0;
  font-size: 1.8rem;
  color: #efcc43;
  font-weight: 500;
  text-align: center;
}

/* main section  */

.main-section {
  width: 100%;
  gap: 5rem;
}

.main-section div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /* gap: 10rem!important; */
}

.left-side {
  justify-content: center !important;
  align-items: center !important;
  width: 50%;
  margin-top: -3rem !important;
}

.right-side {
  width: 50%;
}

.right-side img {
  max-width: 400px;
  display: flex;
  border-radius: 10px;
}



.ca a {
  color: white !important;
  font-size: 1.1rem !important;
  text-decoration: none;
}

.how-to-buy-ca{
  font-size: 16px!important;
}


/* partner section  */
#partners {
  /* margin-top: 100px; */
  /* margin-bottom: 100px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-buttons {
  display: flex;
  justify-content: start !important;
  align-items: start !important;
  color: #FFD700 !important;
  /* gap: 5rem; */
}

#partners .row {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2.2rem;
  margin-top: 10px;
}


/* gallery  */

.gallery {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 100%;
  min-height: 100vh;
}

.box {
  overflow: hidden;
  display: grid;
  place-items: center;
  margin: 20px 10px;
  page-break-inside: avoid;
  perspective: 512px;
  transition: transform 0.3s ease-out;
  cursor: pointer;
}

.box img {
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: transform 0.3s ease-out;
  border-radius: 10px;
}


.box > *:not(img) {
  position: absolute;
  left: 50%;
  text-align: center;
  color: white;
  z-index: 10;
  width: 100%;
  opacity: 0;
  font-size: 14px;
  transition: all 0.5s cubic-bezier(0.22, 1, 0.36, 1);
}

.box:hover > *:not(img) {
  opacity: 1;
  transform: translate3d(-50%, -50%, 50px);
}


.primary-color{
  color: rgb(239, 204, 67)!important;
}

.funds-uses {
  font-size: 18px;
  color: white;
}

.gmail{
  text-decoration: none;
  color: rgb(239, 204, 67)!important;
}

.overview{
  margin-top: 3rem;
}
    .donation-address {
      /* background-color: #f8f8f8; */
      color: white;
      padding: 10px;
      /* border: 1px solid #ddd; */
      border-radius: 4px;
      text-align: center;
      margin: 10px 0;
      word-wrap: break-word;
    }

    .contact {
      margin-top: 20px;
      /* text-align: center; */
    }




/* social section  */
#socials {
  /* margin-top: 60px; */
  /* margin-bottom: 50px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#socials .row {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2.2rem;
  margin-top: 10px;
}

.roadmap {
  margin-top: 5rem;
  margin-bottom: 5rem;
  position: relative;
}

.roadmap hr {
  border-radius: 50rem;
  height: 4px;
  background: linear-gradient(90deg, #BE844D 0%, #FFD700 100%);
  margin-bottom: .5rem;
}

.roadmap h3 {
  /* background: linear-gradient(90deg, #BE844D 1.35%, #FFD700 72.52%); */
  background-color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
  font-weight: 400;
}

.roadmap h2 {
  color: #fff;
  font-weight: 400;
  font-size: 2.2rem;
}

.roadmap ul li {
  font-size: 18px;
}

.border-grad {
  padding: 2rem;
}

.border-grad::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 35px;
  padding: 1.5px;
  border: 1px solid #efcc43;
  /* background: linear-gradient(45deg, #efcc43, #efcc43); */
  /* -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0); */
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.roadmap h4 {
  background: linear-gradient(90deg, #efcc43 1.35%, #efcc43 72.52%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
  font-weight: 400;
  font-weight: 700;
  text-align: center;
}

.roadmap ul li {
  color: #fff;
}

.padding-4 {
  padding-top: 24px;
}

.qimg {
  margin: 100px 0;
  padding-left: 10%;
}

.ping img {
  max-width: 500px !important;
  border-radius: 30px;
  margin-top: 1.8rem;
}

/* footer  */
footer p{padding-left: 3rem;
  color: #dddddd;
  font-size: smaller;
}

.footer-email{
  text-decoration: none;
  padding-top: 1rem;
  margin-bottom: -1.8rem;
}






@media (max-width: 1260px) {
  .choose .coin1 img {
    width: 450px;
}
}

@media (max-width: 1200px) {

  .gallery {
    grid-template-columns: repeat(3, 1fr);
}

  .prev{
    left: 100px;
  }
  .next{
    right: 100px;
  }

  .ping {
    margin: 22px 0!important;
    margin-bottom: 52px 0!important;
  }
}


@media (max-width: 1120px) {
  .nav {
    display: none;
    position: absolute;
    top: 0px;
    flex-direction: column;
    width: 300px;
    background-color: #050d1a;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-bottom-left-radius: 5px;
    animation: nav-ani 0.5s ease-in-out forwards;
    min-height: 100vh;
    max-height: 100vh; /* Add this */
    overflow-y: auto; /* Add this */
  }
  @keyframes nav-ani {
    from {
      right: -200px;
    }
    to {
      right: 0;
    }
  }

  .nav.active {
    display: flex;
  }

  .hamburger {
    display: block;
    color: white;
    position: absolute;
    right: 40px;
    top: 40px;
  }
  .nav-list {
    flex-direction: column !important;
    padding-top: 80px;
    width: 100%;
  }

  .nav-list li:not(:last-child) {
    border-bottom: 1px solid #303030;
  }
  .nav-list li a {
    letter-spacing: 1px;
  }

  .choose .coin1 img {
    width: 400px;
}

.ping {
  margin: 0px 0!important;
  margin-bottom: 52px 0!important;
}
}


@media (max-width: 991.98px) {

  .nav{
    width: 250px;
  }
  p {
    font-size: 16px;
  }

  html {
    scroll-padding-top: 180px;
  }

  .main-section div {
    flex-direction: column;
  }

  .main-section .main-buttons {
    flex-direction: row;
  }

  .ca {
    margin-top: 0px !important;
    word-wrap: break-word;
    word-break: break-all;
  }


  #partners .row {
    column-gap: 0rem;
    justify-content: start;
  }

  #socials .row {
    justify-content: start;
    column-gap: 0rem;
  }

  .left-side {
    justify-content: center !important;
    align-items: center !important;
    width: 100%;
    margin-top: 0rem !important;
    margin-bottom: 3rem;
  }

  .rifht-side {
    justify-content: center !important;
    align-items: center !important;
    width: 100%;
    margin-top: 0rem !important;
  }

  .headertext .cow img,
  .choose .coin1 img {
    width: 600px;
  }

  .choose .coin2 img {
    width: 500px;
  }

  .staking img {
    width: 150px;
  }

  .choose .game {
    top: -50px;
    margin-bottom: -50px;
  }

  .choose .gift {
    position: relative;
    top: 0;
    margin-bottom: 0;
  }

  .choose h4 {
    font-size: 1.5rem;
  }

  /* gallery  */
  .prev{
    left: 50px;
  }
  .next{
    right: 50px;
  }

  .choose .coin1{
    display: none;
  }

}



@media (max-width: 900px) {

  .footer-email{
    text-decoration: none;
    padding-top: 0;
    padding-left: 10rem;
    margin-bottom: 0;
  }

  .copyright{
    margin-top: 1rem;
  }
}



@media (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
}

  .image-container span {
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(300px);
  }

  .gallery-btn {
    padding: 8px 15px;
  }

  #prev {
    left: 10%;
  }

  #next {
    right: 10%;
  }

  .modal-content {
    width: 75% !important;
  }
  
  .ping {
    margin: 0;
    padding-left: 0;
  }

  .qing {
    margin: 0;
    padding-left: 0px;
  }

  .oimg {
    padding-left: 0;
  }

  .headertext h4 {
    font-size: 12px !important;
  }

  .vf {
    position: absolute;
    left: -9999px;
  }
}


@media (max-width: 735px) {
  .box > *:not(img) {
      font-size: 12px;
  }
}


@media (max-width: 575.98px) {
  .qimg {
    margin: 0;
    padding-left: 0;
  }

  html {
    scroll-padding-top: 200px;
  }


  .right-side img {
    max-width: 300px;
  }

  .headertext .cow,
  .choose .coin1,
  .choose .coin2 {
    position: relative;
    top: 0;
    margin-bottom: 0;
  }

  .headertext .cow img,
  .choose .coin1 img,
  .choose .coin2 img,
  .choose .game img,
  .choose .gift img {
    width: 100%;
  }

  .choose .gift p {
    right: 10%;
    font-size: 1.8rem;
  }

  .about {
    margin-top: 3rem;
  }

  .promo h2,
  .choose h2,
  .enquire h2,
  .whychoose h2 {
    font-size: 1.8rem;
  }

  .choose .coin1{
    display: none;
  }

  .prev {
    left: 5%;
    top: 50%;
  }

  .next {
    right: 5%;
    top: 50%;
  }

  .close{
    right: 40px;
  }
}

.f-col {
  color: #efcc43 !important;
}

.ping {
  /* margin: 62px 0; */
  padding-left: 10%;
}

.qing {
  margin: 140px 0;
  padding-left: 55%;
}

.oimg {
  padding-left: 55%;
  width: 800px !important;
}


.bg-col {
  background-color: #efcc43;
}

.bg-0 {
  background: #000 !important;
  border-radius: 35px;
}

@media (max-width: 480px) {
  .gallery{
    height: 40vh;
  }

  .nav{
    width: 230px;
  }
  
    .image-container {
      width: 120px;
      height: 120px;
    }
  
    .image-container span {
      transform: rotateY(calc(var(--i) * 45deg)) translateZ(200px);
    }
  
    .gallery-btn {
      padding: 6px 12px;
      bottom: -60px;
    }
  
  
  
    .prev {
      left: 0;
      top: 45%;
    }
  
    .next {
      right: 0;
      top: 45%;
    }
  
    .modal-content {
      width: 70% !important;
      margin-top: 130px;
    }
  
    .close {
      top: 128px;
      right: 21px;
      font-size: 30px;
    }
  }

  @media (max-width: 385px) {
    .box > *:not(img) {
        font-size: 14px;
    }
  
    .box h1 {
        font-size: 2em;
    }
  }

  @media (max-width: 361px) {
  .prev{
    top: 40%;
  }
  .next{
    top: 40%;
  }
  }

/* @media (max-width: 767px) {
  .headertext h4 {
    font-size: 12px !important;
  }

  .vf {
    position: absolute;
    left: -9999px;
  }
} */